{% block nav %}
<div id = "nav_bar" class = "topnav">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item" id = "signup">
        <a class="nav-link" href="signup">Sign up</a>
      </li>
        {% if not current_user.is_authenticated %}
      <li class="nav-item" id = "login">
        <a class="nav-link" href="login">Login</a>
      </li>
        {% else %}
        <li class="nav-item" id = "logout">
        <a class="nav-link" href="logout">Log out</a>
      </li>
        {% endif %}
    </ul>
</div>
{% endblock %}