<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Pointer Exercise</title>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename="promoting_sheet.css")}}">
</head>

<body style = "background-color:#FAF9DE;">
    <div class = "title" id = "top">
        <label>C Pointer Promoting</label>
    </div>
    <button style = "float:right"><a style = "color:white" href = "/login">Return to the previous page</a></button></td>
    <div class = "promoting">
        <table>
            <tr>
                <td><h3>Why learning C pointer is important?</h3></td>
            </tr>
            <tr>
                <td><p>1. Pointers can significantly increase the efficiency of your code.</p></td>
            </tr>
            <tr>
                <td><p>2. Reducing the risk of your code by treating pointers wisely.</p></td>
            </tr>
            <tr>
                <td><p>3. Learning pointers can help you understand your computer better.</p></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><h3>What you can do in this application?</h3></td>
            </tr>
            <tr>
                <td><p>1. Learning basic knowledge of C pointer in learning web page</p></td>
            </tr>
            <tr>
                <td><p>2. Assessing yourself in assessing web page. You will be tested by 10 exercises chosen randomly from our database.</p></td>
            </tr>
            <tr>
                <td><p>3. Getting feedback based on your performance on the exercises.</p></td>
            </tr>
        </table> 
    </div>

    <div class = "book">
        <table>
            <tr>
                <td colspan="2"><h3>Books recommanded by us:</h3></td>
            </tr>
            <tr>
                <td><img style = "width:150px" src = "/static/book1.jpg" alt = ""></td>
                <td><img style = "width:150px" src = "/static/book2.jpg" alt = ""></td>
            </tr>
            <tr>
                <td><img style = "width:150px" src = "/static/book3.jpg" alt = ""></td>
                <td><img style = "width:150px" src = "/static/book4.jpg" alt = ""></td>
            </tr>
            <tr>
                
            </tr>
        </table> 
    </div>

    <div class = "web">
        <table>
            <tr>
                <td><h3>Websites recommanded by us:</h3></td>
            </tr>
            <tr>
                <td><a href = "https://www.learn-c.org/">1. Free C language tutorial website</a></td>
            </tr>
            <tr>
                <td><a href = "http://pythontutor.com/">2. Visualizing the run time of your C programs here</a></td>
            </tr>
            <tr>
                <td><a href = "https://gcc.godbolt.org/">3. Converting your C code to ASM here</a></td>
            </tr>
        </table> 
    </div>
</body>