<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Pointer Lectures</title>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='teaching_sheet.css')}}">
</head>

<body style="background-color:#FAF9DE;">

    <div class = titleArea>
        <label>C Pointer Lectures</label>
    </div>
    <button id = 'back' style = "float:right"><a style = "color:white" href = "/login">Return to the previous page</a></button></td>

    <div class = 'imgArea'>
        <img style = "width:350px" src = "/static/teemo.png" alt = "">
    </div>
    <div class = tableArea>
        <table>
        <tr>
        <td><video width="320" height="180" controls>
            <source src="/static/introduction.mp4" type="video/mp4">
        </video></td>
        <td><video width="320" height="180" controls>
            <source src="/static/assignment.mp4" type="video/mp4">
        </video></td>
        <td><video width="320" height="180" controls>
            <source src="/static/arithmetic.mp4" type="video/mp4">
        </video></td>
        </tr>

        <tr>
        <td>1. Introduction of Pointer</td>
        <td>2. Assignment of Pointer</td>
        <td>3. Arithmetic of Pointer</td>
        </tr>

        <tr>
        <td><video width="320" height="180" controls>
        <source src="/static/comparison.mp4" type="video/mp4">
        </video></td>
        <td><video width="320" height="180" controls>
        <source src="/static/array.mp4" type="video/mp4">
        </video></td>
        <td><video width="320" height="180" controls>
         <source src="/static/function.mp4" type="video/mp4">
        </video></td>
        </tr>

        <tr>
        <td>4. Pointer Comparison</td>
        <td>5. Pointer to Array</td>
        <td>6. Pointer to Function</td>
        </tr>
        </table>
    </div>
</body>
</html>